<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todo2020">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.ListActivity"></activity>
        <activity android:name=".Activities.ViewPagerActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity
            android:name=".Fragments.AddEditTodoActivityFragment"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".Fragments.HomeFragmentActivity" />
        <activity
            android:name=".Fragments.HomeFragmentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="@string/register" />
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/login" />
        <activity
            android:name=".Activities.InitialActivity"
            android:label="@string/todosuggestion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>